body {
  font: 12pt "Zosimo Pro", sans-serif !important;
}

.main-header {
  margin: 0;
}
.main-header a {
  font: 36pt "Kimberly Geswein Fonts", serif;
  text-shadow: -1px 0 rgb(233, 95, 77), 0 1px black, 1px 0 black, 0 -1px rgb(233, 95, 77);
  color: white;
  text-decoration: none;
}

.middle-button, .large-button {
  border: 1px solid rgb(233, 95, 77);
  background-color: white;
  color: rgb(233, 95, 77);
  padding: 10px 20px 10px 20px;
}
.middle-button:hover, .large-button:hover {
  background-color: rgb(233, 95, 77);
  color: white;
}

.input-text, .middle-button {
  font-size: 12pt;
}

.input-text {
  padding: 10px 5px 10px 5px;
  width: 250px;
  border-width: 1px;
  border-radius: 2px;
  color: darkgrey;
}
.input-text:hover, .input-text:focus {
  width: 375px;
}

.large-button {
  font-size: 18pt;
}

.link-navigation {
  color: rgb(233, 95, 77);
  text-decoration: none;
  font-size: 18pt;
}
.link-navigation:hover {
  color: rgb(190, 82, 61);
}

.section-header {
  width: 600px;
  margin: auto;
  border-top: 1px solid black;
  padding: 30px 0 30px 0;
}
.section-header h2 {
  font-size: 28pt;
  display: inline-block;
}

table {
  table-layout: fixed;
  width: 100%;
}

.main-navigation li {
  display: inline-block;
  margin-right: 50px;
}

.table-head {
  font-size: 14pt;
}

header div, footer div {
  display: flex;
  justify-content: space-between;
}

.content-block, header div, footer div {
  padding: 25px 100px 12.5px 100px;
}

.filter-controls {
  display: flex;
}

.filter-control:not(:first-child) {
  padding-left: 10px;
}
.filter-control:not(:last-child) {
  border-right: 1px dotted darkgrey;
  padding-right: 10px;
}
.filter-control:nth-last-child(-n+2) {
  padding-top: 5px;
  padding-bottom: 5px;
}
.filter-control label {
  color: darkgrey;
  font-size: 10pt;
}
.filter-control label:hover {
  color: black !important;
}
.filter-control select {
  padding: 5px;
}

#about_page p {
  text-align: left;
  margin-bottom: 15px;
}

.table-body tr:nth-child(even) {
  background-color: rgb(249, 245, 251);
}

.table-head tr, .table-body tr {
  font-weight: lighter;
}
.table-head tr th, .table-head tr td, .table-body tr th, .table-body tr td {
  position: relative;
}
.table-head tr th div, .table-head tr td div, .table-body tr th div, .table-body tr td div {
  padding: 10px;
}
.table-head tr th:first-child, .table-head tr td:first-child, .table-body tr th:first-child, .table-body tr td:first-child {
  text-align: left;
}
.table-head tr th, .table-body tr th {
  border-bottom: 1px solid black;
}
.table-head tr th:hover, .table-body tr th:hover {
  cursor: pointer;
  background-color: rgb(250, 250, 250);
}
.table-head tr th:hover div, .table-body tr th:hover div {
  border-bottom: 4px solid black;
  padding-bottom: 6px;
}
.table-head tr th:hover .sort-arrow, .table-body tr th:hover .sort-arrow {
  display: inline;
}

.button-navigation, .sort-arrow {
  color: rgb(85, 176, 205);
  border: none;
  background: none;
  padding: 0;
}
.button-navigation:hover, .sort-arrow:hover {
  color: rgb(50, 102, 106);
}

.table-navigation {
  text-align: left;
  font-weight: lighter;
  padding: 10px;
}
.table-navigation .hidden {
  display: none;
}
.table-navigation .inactive {
  color: black;
}
.table-navigation .button-navigation {
  margin-right: 10px;
}

.sort-arrow {
  display: none;
  position: absolute;
  font-size: 18pt;
  right: 60px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.popup-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.popup-window-high {
  width: 560px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.popup-window-high .popup-content form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 20px;
}
.popup-window-high .popup-content form .popup-item-full {
  grid-column: 1/3;
}
.popup-window-high .popup-content form .popup-item-half:nth-child(odd) {
  grid-column: 1;
}
.popup-window-high .popup-content form .popup-item-half:nth-child(even) {
  grid-column: 2;
}
.popup-window-high .popup-content form .popup-item-full label, .popup-window-high .popup-content form .popup-item-half label {
  float: left;
  color: darkgrey;
  font-size: 10pt;
  margin-bottom: 10px;
  margin-right: 40px;
}
.popup-window-high .popup-content form .popup-item-full input, .popup-window-high .popup-content form .popup-item-full select, .popup-window-high .popup-content form .popup-item-full button, .popup-window-high .popup-content form .popup-item-full textarea, .popup-window-high .popup-content form .popup-item-half input, .popup-window-high .popup-content form .popup-item-half select, .popup-window-high .popup-content form .popup-item-half button, .popup-window-high .popup-content form .popup-item-half textarea {
  display: block;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-width: 1px;
  border-radius: 2px;
}
.popup-window-high .popup-content form .popup-item-full input, .popup-window-high .popup-content form .popup-item-full select, .popup-window-high .popup-content form .popup-item-full textarea, .popup-window-high .popup-content form .popup-item-half input, .popup-window-high .popup-content form .popup-item-half select, .popup-window-high .popup-content form .popup-item-half textarea {
  color: black;
}
.popup-window-high .popup-content form .popup-item-full #add_teacher_male, .popup-window-high .popup-content form .popup-item-full #add_teacher_female, .popup-window-high .popup-content form .popup-item-full #add_teacher_color, .popup-window-high .popup-content form .popup-item-half #add_teacher_male, .popup-window-high .popup-content form .popup-item-half #add_teacher_female, .popup-window-high .popup-content form .popup-item-half #add_teacher_color {
  display: inline;
  width: auto;
  float: left;
  margin-right: 10px;
}
.popup-window-high .popup-content form .popup-item-full #add_teacher_color, .popup-window-high .popup-content form .popup-item-half #add_teacher_color {
  width: 50px;
}
.popup-window-high .popup-content form .popup-item-full label[for=add_teacher_male], .popup-window-high .popup-content form .popup-item-full label[for=add_teacher_female], .popup-window-high .popup-content form .popup-item-half label[for=add_teacher_male], .popup-window-high .popup-content form .popup-item-half label[for=add_teacher_female] {
  margin-right: 5px;
}

.popup-window-wide {
  width: 960px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  display: none;
}
.popup-window-wide .popup-content {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.popup-window-wide .popup-content .popup-item-full {
  grid-column: 1/4;
}
.popup-window-wide .popup-content .popup-item-third:nth-child(3n-2) {
  grid-column: 1;
}
.popup-window-wide .popup-content .popup-item-third:nth-child(3n-1) {
  grid-column: 2;
}
.popup-window-wide .popup-content .popup-item-third:nth-child(3n+0) {
  grid-column: 3;
}
.popup-window-wide .popup-content .popup-item-full div, .popup-window-wide .popup-content .popup-item-third div {
  margin-bottom: 20px;
}
.popup-window-wide .popup-content #teacher_name_full {
  font-size: 28pt;
}
.popup-window-wide .popup-content #teacher_speciality_full {
  font-weight: bold;
  font-size: 18pt;
}
.popup-window-wide .popup-content a {
  text-decoration: none;
  color: rgb(80, 160, 170);
}
.popup-window-wide .popup-content #teacher_map_full {
  text-decoration: underline dashed;
}

.popup-header {
  background-color: rgb(70, 70, 70);
  display: flex;
  justify-content: space-between;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  padding: 10px;
}
.popup-header button {
  padding: 0;
  background: none;
  border: none;
  color: white;
}
.popup-header h2 {
  color: white;
}

.popup-content {
  background-color: white;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.teacher-image-full[src] {
  width: 300px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.teacher-image-full:not([src]) {
  width: 409px;
  height: 50px;
  display: block;
  margin-left: -16px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 36pt;
  text-align: center;
}

#teacher_favorite_full {
  width: 50px;
  height: 50px;
}

#info_teacher_window .popup-item-third:first-child {
  overflow: hidden;
  height: 300px;
  position: relative;
}

.teacher-list, .teacher-favorite-list {
  padding: 50px 0 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.teacher-list .teacher-item, .teacher-favorite-list .teacher-item {
  position: relative;
}
.teacher-list .teacher-item div, .teacher-favorite-list .teacher-item div {
  margin-bottom: 10px;
}
.teacher-list .teacher-item .teacher-name, .teacher-favorite-list .teacher-item .teacher-name {
  font-size: 18pt;
  font-weight: bold;
}
.teacher-list .teacher-item .teacher-speciality, .teacher-favorite-list .teacher-item .teacher-speciality {
  font-size: 12pt;
  color: darkgrey;
}
.teacher-list .teacher-item .teacher-nationality, .teacher-favorite-list .teacher-item .teacher-nationality {
  font-size: 10pt;
  color: darkgrey;
}
.teacher-list .teacher-item .teacher-image, .teacher-favorite-list .teacher-item .teacher-image {
  width: 240px;
  height: 240px;
  overflow: hidden;
  border-radius: 200px;
  border: 5px solid rgb(233, 154, 142);
  position: relative;
}
.teacher-list .teacher-item .teacher-image:hover, .teacher-favorite-list .teacher-item .teacher-image:hover {
  border: 5px solid rgb(192, 79, 64);
  cursor: pointer;
}
.teacher-list .teacher-item .teacher-image img[src], .teacher-favorite-list .teacher-item .teacher-image img[src] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.teacher-list .teacher-item .teacher-image .teacher-photo[src], .teacher-favorite-list .teacher-item .teacher-image .teacher-photo[src] {
  width: 240px;
  height: auto;
}
.teacher-list .teacher-item .teacher-image .teacher-photo:not([src]), .teacher-favorite-list .teacher-item .teacher-image .teacher-photo:not([src]) {
  color: rgb(233, 95, 77);
  font-size: 36pt;
  width: 250px;
  height: 50px;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin-left: -17px;
  margin-top: auto;
  margin-bottom: auto;
}
.teacher-list .teacher-item .teacher-fav, .teacher-list .teacher-item .teacher-not-fav, .teacher-favorite-list .teacher-item .teacher-fav, .teacher-favorite-list .teacher-item .teacher-not-fav {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 15px;
  right: 0;
}
.teacher-list .teacher-item .teacher-fav:hover, .teacher-list .teacher-item .teacher-not-fav:hover, .teacher-favorite-list .teacher-item .teacher-fav:hover, .teacher-favorite-list .teacher-item .teacher-not-fav:hover {
  cursor: pointer;
}
.teacher-list .teacher-item .teacher-fav, .teacher-favorite-list .teacher-item .teacher-fav {
  display: none;
}
.teacher-list .teacher-item .teacher-not-fav, .teacher-favorite-list .teacher-item .teacher-not-fav {
  display: block;
}
.teacher-list .teacher-item.favorite .teacher-fav, .teacher-favorite-list .teacher-item.favorite .teacher-fav {
  display: block;
}
.teacher-list .teacher-item.favorite .teacher-not-fav, .teacher-favorite-list .teacher-item.favorite .teacher-not-fav {
  display: none;
}

#favorites_page {
  padding: 25px 0 12.5px 0;
}

.teacher-favorite-list {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.teacher-favorite-list .favorite-left {
  grid-column: 1;
  text-align: left;
  padding-left: 20px;
}
.teacher-favorite-list .favorite-right {
  grid-column: 7;
  text-align: right;
  padding-right: 20px;
}
.teacher-favorite-list .favorite-left button, .teacher-favorite-list .favorite-right button {
  height: 100%;
  transform: scale(0.75, 2);
  border: none;
  background: none;
  color: rgb(136, 136, 136);
  overflow: visible;
  font-size: 36pt;
  padding: 0;
}
.teacher-favorite-list .favorite-left button:hover, .teacher-favorite-list .favorite-right button:hover {
  color: rgb(36, 36, 36);
}
.teacher-favorite-list .teacher-fav, .teacher-favorite-list .teacher-not-fav {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .link-navigation, .large-button {
    font-size: 16pt;
  }
  .main-navigation li {
    margin-right: 25px;
  }
  .input-text, .middle-button {
    font-size: 10pt;
  }
  .content-block, header div, footer div {
    padding: 25px 50px 12.5px 50px;
  }
  #favorites_page {
    padding: 25px 0 12.5px 0;
  }
  .teacher-list .teacher-item, .teacher-favorite-list .teacher-item {
    gap: 10px;
  }
  .teacher-list .teacher-item .teacher-image, .teacher-favorite-list .teacher-item .teacher-image {
    width: 200px;
    height: 200px;
  }
  .teacher-list .teacher-item .teacher-image .teacher-photo[src], .teacher-favorite-list .teacher-item .teacher-image .teacher-photo[src] {
    width: 200px;
  }
  .teacher-list .teacher-item .teacher-image .teacher-photo:not([src]), .teacher-favorite-list .teacher-item .teacher-image .teacher-photo:not([src]) {
    width: 210px;
  }
  .teacher-list .teacher-item .teacher-name, .teacher-favorite-list .teacher-item .teacher-name {
    font-size: 16pt;
  }
  .teacher-list .teacher-item .teacher-speciality, .teacher-favorite-list .teacher-item .teacher-speciality {
    font-size: 10pt;
  }
  .teacher-list .teacher-item .teacher-nationality, .teacher-favorite-list .teacher-item .teacher-nationality {
    font-size: 8pt;
  }
  .teacher-list .teacher-item .teacher-fav, .teacher-favorite-list .teacher-item .teacher-fav {
    width: 40px;
    height: 40px;
    top: 15px;
  }
  .teacher-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .teacher-favorite-list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .teacher-favorite-list .favorite-left {
    padding-left: 10px;
  }
  .teacher-favorite-list .favorite-right {
    grid-column: 5;
    padding-right: 10px;
  }
  .middle-button, .large-button {
    padding: 5px 10px 5px 10px;
  }
}

/*# sourceMappingURL=style.css.map */
