$main_header_font: "Kimberly Geswein Fonts";
$main_header_generic_font: serif;
$main_header_size: 36pt;
$generic_font: sans-serif;
$color_main: rgb(233, 95, 77);
$color_main_dark: rgb(190, 82, 61);
$color_secondary: white;
$color_third: black;
$section_header_font_size: 28pt;
$page_font: "Zosimo Pro";
$section_header_padding_ver: 30px;
$nav_item_margin: 50px;
$controls_padding: 20px;
$large_font_size: 18pt;
$block_padding_ver: 50px;
$block_padding_hor: 100px;
$default_font_size: 12pt;
$search_width: 250px;
$section_header_width: 600px;
$color_controls: darkgrey;
$filters_padding: 10px;
$paragraph_margin: 15px;
$table_row_even_color: rgb(249, 245, 251);
$table_header_hover_color: rgb(250, 250, 250);
$table_controls_color: rgb(85, 176, 205);
$table_controls_hover_color: rgb(50, 102, 106);
$table_sort_offset: 60px;
$popup_header_color: rgb(70, 70, 70);
$popup_border_radius: 2px;
$popup_width_high: 560px;
$popup_width_wide: calc($popup_width_high + 400px);
$popup_wrapper_color: rgba(0, 0, 0, 0.5);
$popup_colorpicker_width: 50px;
$link_color: rgb(80, 160, 170);
$img_full_size: 300px;
$fav_size: 50px;
$fav_top: 15px;
$teacher_list_size: 240px;
$round_border: 200px;
$img_border_color: 5px solid rgb(233, 154, 142);
$img_border_color_hover: 5px solid rgb(192, 79, 64);
$fav_arrow_color: rgb(136, 136, 136);
$fav_arrow_color_hover: rgb(36, 36, 36);
$gap_teachers: 20px;
$alt_img_offset: -17px;
$alt_full_img_offset: -16px;
$alt_full_img_width: 409px;

body {
    font: $default_font_size $page_font, $generic_font!important;
}

.main-header {
    margin: 0;
    a {
        font: $main_header_size $main_header_font, $main_header_generic_font;
        text-shadow: -1px 0 $color_main, 0 1px $color_third, 1px 0 $color_third, 0 -1px $color_main;
        color: $color_secondary;
        text-decoration: none;
    }
}

.middle-button, .large-button {
    border: 1px solid $color_main;
    background-color: $color_secondary;
    color: $color_main;
    padding: calc($controls_padding/2) $controls_padding calc($controls_padding/2) $controls_padding;
    &:hover {
        background-color: $color_main;
        color: $color_secondary;
    }
}

.input-text, .middle-button {
    font-size: calc($large_font_size - 6pt);
}

.input-text {
    padding: calc($controls_padding/2) calc($controls_padding/4) calc($controls_padding/2) calc($controls_padding/4);
    width: $search_width;
    border-width: 1px;
    border-radius: 2px;
    color: $color_controls;
    &:hover, &:focus {
        width: calc($search_width * 1.5);
    }
}

.large-button {
    font-size: $large_font_size;
}

.link-navigation {
    color: $color_main;
    text-decoration: none;
    font-size: $large_font_size;
    &:hover {
        color: $color_main_dark;
    }
}

.section-header{
    h2 {
        font-size: $section_header_font_size;
        display: inline-block;
    }
    width: $section_header_width;
    margin: auto;
    border-top: 1px solid $color_third;
    padding: $section_header_padding_ver 0 $section_header_padding_ver 0;
}

table {
    table-layout: fixed;
    width: 100%;
}

.main-navigation li {
    display: inline-block;
    margin-right: $nav_item_margin;
}

.table-head {
    //border-bottom: 1px solid $color_third;
    font-size: calc($default_font_size + 2pt);
}

header div, footer div {
    display: flex;
    justify-content: space-between;
}

.content-block, header div, footer div {
    padding: calc($block_padding_ver/2) $block_padding_hor calc($block_padding_ver/4) $block_padding_hor;
}

.filter-controls {
    display: flex;
}

.filter-control {
    &:not(:first-child) {
        padding-left: $filters_padding;
    }

    &:not(:last-child) {
        border-right: 1px dotted $color_controls;
        padding-right: $filters_padding;
    }

    &:nth-last-child(-n+2) {
        padding-top: calc($filters_padding/2);
        padding-bottom: calc($filters_padding/2);
    }
    label {
        color: $color_controls;
        font-size: 10pt;
        &:hover {
            color: $color_third!important;
        }
    }
    select {
        padding: calc($filters_padding/2);
    }
}

#about_page p {
    text-align: left;
    margin-bottom: $paragraph_margin;
}

.table-body tr:nth-child(even) {
    background-color: $table_row_even_color;
}
.table-head, .table-body {
    tr {
        font-weight: lighter;
        th, td {
            //padding: $filters_padding;
            div {
                padding: $filters_padding;
            }
            position: relative;
            &:first-child {
                text-align: left;
            }
        }
        th {
            border-bottom: 1px solid $color_third;
            &:hover {
                cursor: pointer;
                div{
                    border-bottom: 4px solid $color_third;
                    padding-bottom: calc($filters_padding - 4px);
                }
                background-color: $table_header_hover_color;
                .sort-arrow {
                    display: inline;
                    
                }
            }
        }
        
    }
}
.button-navigation, .sort-arrow {
    color: $table_controls_color;
    border: none;
    background: none;
    padding: 0;
    &:hover {
        color: $table_controls_hover_color;
    }
}

.table-navigation {
    text-align: left;
    font-weight: lighter;
    padding: $filters_padding;
    .hidden {
        display: none;
    }
    .inactive {
        color: $color_third;
    }
    .button-navigation {
        margin-right: $filters_padding;
    }
}
.sort-arrow {
    display: none;
    position: absolute;
    font-size: $large_font_size;
    right: $table_sort_offset;
    top: 0;
    bottom: 0;
    margin: auto;
}

.popup-wrapper {
    width: 100%;
    height: 100%;
    background-color: $popup_wrapper_color;
    position: fixed;
    top: 0;
    left:0;
    // Hide
    display: none;
}
.popup-window-high {
    width: $popup_width_high;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    .popup-content form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $filters_padding;
        padding: $controls_padding;
        .popup-item-full {
            grid-column: 1 / 3;
            //grid-row: 1;
        }
        .popup-item-half:nth-child(odd) {
            grid-column: 1;
            //grid-row: 1;
        }
        .popup-item-half:nth-child(even) {
            grid-column: 2;
            //grid-row: 1;
        }
        .popup-item-full, .popup-item-half {
            label {
                float: left;
                color: $color_controls;
                font-size: calc($default_font_size - 2pt);
                margin-bottom: $filters_padding;
                margin-right: calc($filters_padding * 4);
            }
            input, select, button, textarea {
                display: block;
                width: 100%;
                padding-top: calc($filters_padding / 2);
                padding-bottom: calc($filters_padding / 2);
                border-width: 1px;
                border-radius: 2px;
            }
            input, select, textarea {
                color: $color_third;
            }
            #add_teacher_male, #add_teacher_female, #add_teacher_color {
                display: inline;
                width: auto;
                float: left;
                margin-right: $filters_padding;
            }
            #add_teacher_color {
                width: $popup_colorpicker_width;
                
            }
            label[for="add_teacher_male"], label[for="add_teacher_female"] {
                margin-right: calc($filters_padding / 2);
            }
        }
    }
    

}
.popup-window-wide {
    width: $popup_width_wide;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    display: none;
    .popup-content {
        padding: $controls_padding;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $filters_padding;
        .popup-item-full {
            grid-column: 1 / 4;
            //grid-row: 1;
        }
        .popup-item-third:nth-child(3n-2) {
            grid-column: 1;
            //grid-row: 1;
        }
        .popup-item-third:nth-child(3n-1) {
            grid-column: 2;
            //grid-row: 1;
        }
        .popup-item-third:nth-child(3n+0) {
            grid-column: 3;
            //grid-row: 1;
        }
        .popup-item-full div, .popup-item-third div {
            margin-bottom: $controls_padding;
        }
        #teacher_name_full {
            font-size: $section_header_font_size;
        }
        #teacher_speciality_full {
            font-weight: bold;
            font-size: $large_font_size;
        }
        a {
            text-decoration: none;
            color: $link_color;
        }
        #teacher_map_full {
            text-decoration: underline dashed;
        }
    }
}
.popup-header {
    background-color: $popup_header_color;
    display: flex;
    justify-content: space-between;
    border-top-right-radius: $popup_border_radius;
    border-top-left-radius: $popup_border_radius;
    padding: $filters_padding;
    button {
        padding: 0;
        background: none;
        border: none;
        color: $color_secondary;
    }
    h2 {
        color: $color_secondary;
    }
}

.popup-content {
    background-color: $color_secondary;
    border-bottom-right-radius: $popup_border_radius;
    border-bottom-left-radius: $popup_border_radius;
}

.teacher-image-full[src] {
    width: $img_full_size;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.teacher-image-full:not([src]) {
    width: $alt_full_img_width;
    height: $fav_size;
    display: block;
    margin-left: $alt_full_img_offset;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    font-size: calc($large_font_size * 2);
    text-align: center;
    //color: $color_main;
}

#teacher_favorite_full {
    width: $fav_size;
    height: $fav_size;
}

#info_teacher_window {
    .popup-item-third:first-child {
        overflow: hidden;
        height: $img_full_size;
        position: relative;
    }
}

.teacher-list, .teacher-favorite-list {
    padding: $block_padding_ver 0 $block_padding_ver;
    .teacher-item {
        //grid-column: 1;
        position: relative;
        div {
            margin-bottom: $filters_padding;
        }
        .teacher-name {
            font-size: $large_font_size;
            font-weight: bold;
        }
        .teacher-speciality {
            font-size: $default_font_size;
            color: $color_controls;
        }
        .teacher-nationality {
            font-size: calc($default_font_size - 2pt);
            color: $color_controls;
        }
        .teacher-image {
            width: $teacher_list_size;
            height: $teacher_list_size;
            overflow: hidden;
            border-radius: $round_border;
            border: $img_border_color;
            position: relative;
            &:hover {
                border: $img_border_color_hover;
                cursor: pointer;
            }
            img[src] {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            .teacher-photo[src] {
                width: $teacher_list_size;
                height: auto;
            }
            .teacher-photo:not([src]) {
                color: $color_main;
                font-size: calc($large_font_size*2);
                width: $search_width;
                height: $fav_size;
                position: absolute;
                right: 0;
                left: 0;
                top: 0;
                bottom: 0;
                margin-left: $alt_img_offset;
                margin-top: auto;
                margin-bottom: auto;
            }
        }
        .teacher-fav, .teacher-not-fav {
            width: $fav_size;
            height: $fav_size;
            position: absolute;
            top: $fav_top;
            right: 0;
            &:hover {
                cursor: pointer;
            }
        }
        .teacher-fav {
            display: none;
        }
        .teacher-not-fav {
            display: block;
        }
    }
    .teacher-item.favorite {
        .teacher-fav {
            display: block;
        }
        .teacher-not-fav {
            display: none;
        }
    }
    //display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: $gap_teachers;
}

#favorites_page {
    padding: calc($block_padding_ver/2) 0 calc($block_padding_ver/4) 0;
}

.teacher-favorite-list {
    //justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    .favorite-left {
        grid-column: 1;
        text-align: left;
        padding-left: $controls_padding;
    }
    .favorite-right {
        grid-column: 7;
        text-align: right;
        padding-right: $controls_padding;
    }
    .favorite-left, .favorite-right {
        button {
            height: 100%;
            transform: scale(0.75,2);
            border: none;
            background: none;
            color: $fav_arrow_color;
            overflow: visible;
            font-size: $main_header_size;
            padding: 0;
            &:hover {
                color: $fav_arrow_color_hover;
            }
        }
    }
    .teacher-fav, .teacher-not-fav {
        display: none!important;
    }
}

@media screen and (max-width: 768px) {
    .link-navigation, .large-button {
        font-size: calc($large_font_size - 2pt);
    }
    .main-navigation li {
        margin-right: calc($nav_item_margin/2);
    }
    .input-text, .middle-button {
        font-size: calc($large_font_size - 8pt);
    }
    .content-block, header div, footer div {
        padding: calc($block_padding_ver/2) calc($block_padding_hor/2) calc($block_padding_ver/4) calc($block_padding_hor/2);
    }
    #favorites_page {
        padding: calc($block_padding_ver/2) 0 calc($block_padding_ver/4) 0;
    }
    
    .teacher-list, .teacher-favorite-list {
        .teacher-item {
            gap: calc($gap_teachers / 2);
            .teacher-image {
                width: calc($teacher_list_size - 40px);
                height: calc($teacher_list_size - 40px);
                .teacher-photo[src] {
                    width: calc($teacher_list_size - 40px);
                }
                .teacher-photo:not([src]) {
                    width: calc($search_width - 40px);
                }
            }
            .teacher-name {
                font-size: calc($large_font_size - 2pt);
            }
            .teacher-speciality {
                font-size: calc($default_font_size - 2pt);
            }
            .teacher-nationality {
                font-size: calc($default_font_size - 4pt);
            }
            .teacher-fav {
                width: calc($fav_size - 10px);
                height: calc($fav_size - 10px);
                top: $fav_top;
            }
        }
    }
    .teacher-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .teacher-favorite-list {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        .favorite-left {
            padding-left: calc($controls_padding / 2);
        }
        .favorite-right {
            grid-column: 5;
            padding-right: calc($controls_padding / 2);
        }
    }
    .middle-button, .large-button {
        padding: calc($controls_padding/4) calc($controls_padding/2) calc($controls_padding/4) calc($controls_padding/2);
    }
}
